@import url("https://fonts.googleapis.com/css2?family=Stolzl:wght@400;500;600;700&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.navbar {
  margin-top: 10px;
  margin-left: 24px;
  border-radius: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(54, 54, 54, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95%;
  width: 100%;
  max-width: 1468px;
  border-radius: 50px;
  font-family: "Stolzl", Arial, sans-serif;
  opacity: 0.85;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 4px 10px 1px rgba(54, 54, 54, 0.1);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.nav-logo {
  max-height: 110px;
  margin-right: 350px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  height: 80px;
  font-family: "Stolzl", Arial, sans-serif;
  font-size: 13px;
}

.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav_btn {
  font-family: "Stolzl", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  border-width: 1px;
  border-radius: 500px;
  background-position: center center;
  border-color: orange;
  border-style: solid;
  height: 61px;
  width: 171px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav_btn:hover {
  background-color: rgba(255, 81, 0, 0.919);
}

@media screen and (max-width: 600px) {
  .nav-logo {
    margin-right: 0;
  }
  .nav-menu .nav-item {
    display: none;
  }
  .nav-menu .icon {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .navbar-container {
    flex-direction: column;
  }
  .navbar.responsive .nav-menu .nav-item {
    display: block;
    text-align: center;
    width: 100%;
  }
  .navbar.responsive .nav-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
