@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.text-header {
  color: #363636;
  font-size: 20px;
  font-family: "Stolzl", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
}
.text-header span {
  color: rgb(255, 102, 0);
}
.text-header h2 {
  position: absolute;
  left: 20%;
  line-height: 40px;
}
.text-container {
  margin-top: 400px;
}
.text-container h4 {
  margin-left: 110px;
}
.text-container img {
  width: 550px;
  height: 550px;
  margin-left: 60%;
  border-radius: 20px;
  margin-top: -500px;
}
.text-container p {
  width: 750px;
  margin-left: 110px;
  line-height: 30px;
}
.text-container h5 {
  margin-left: 7%;
}
.About-company {
  margin-top: -190px;
}
.About-company h1 {
  margin-top: 400px;
  margin-left: 120px;
  font-size: 50px;
  font-family: "Stolzl", Arial, sans-serif;
}
.About-logo {
  margin-left: 120px;
  margin-top: -60px;
  width: 200px;
}
.About-company p {
  width: 700px;
  margin-left: 750px;
  margin-top: -300px;
  line-height: 29px;
}
.Partner h6 {
  font-size: 38px;
  margin-top: 250px;
  margin-left: 90px;
  line-height: 40px;
}
.Partner p {
  font-size: 16px;
  width: 500px;
  margin-left: 90px;
  line-height: 28px;
  margin-top: -40px;
}
.Partner .img1 {
  margin-left: 700px;
  width: 400px;
  margin-top: -500px;
}
.Partner .img2 {
  border-radius: 20px;
  background-color: #ffffff;
  background-position: 50% 50%;
  background-size: 101.918%;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
  width: 250px;
  margin-left: 75%;
  margin-top: -120px;
}
