@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.tn-atom {
  line-height: 53px;
  color: #363636;
  font-size: 68px;
  font-family: "Stolzl", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  margin: 100px;
  margin-top: 200px;
}

.tn-atom span {
  color: rgb(255, 102, 0);
}
.container {
  margin-right: 50px;
  margin-top: 90px;
}
.container span {
  color: #363636;
  font-size: 20px;
  padding-top: -25px;
}

.text {
  line-height: 19px;
  word-spacing: 10px;
  font-size: 20px;
  margin-top: 700px;
}

.text p {
  color: #363636;
  font-size: 16px;
  font-weight: 400;
  font-family: "Stolzl", Arial, sans-serif;
  border-color: transparent;
  border-style: solid;

  width: 700px;
  margin-top: 10px;
}

.container img {
  width: 500px;
  height: 500px;
  margin-top: -450px;
  margin-left: 800px;
  border-radius: 20px;
}
.text-comtainer {
  margin-top: -650px;
}
.text-comtainer span {
  color: rgb(255, 102, 0);
  font-size: 16px;
}
